**/.git
**/.gitignore
**/.vscode
**/.idea
**/.metadata
**/node_modules
**/npm-debug.log
**/dist
**/build
**/target
**/*.jar
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/bin
**/obj
**/.env
**/.env.local
**/logs
